<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title></title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />


    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">


<!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
              <span class="app-brand-logo demo">
               <img src="/img/icons/icon.png">
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2" style="color: #604020;">Lawn/Care</span>
            </a>
          </div>

          <br><br>
          <div class="menu-inner-shadow"></div>
          <ul class="menu-inner py-1">
<!-- Dashboard -->
            <li class="menu-item">
              <a href="/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            
<!-- database -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Database</span>
            </li>
            <li class="menu-item">
              <a href="/allPlantes" class="menu-link menu-toggle">
                 <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Account Settings">Stock</div>
              </a>
              <ul class="menu-sub">
                
              </ul>
            </li>
            <li class="menu-item active">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Authentications">Ajout</div>
              </a>

              <ul class="menu-sub">
              </ul>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Misc">Authentications</div>
              </a>
            </li>
                       
           
<!-- Info -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Info</span></li>
            <li class="menu-item">
              <a
                href=""
                target="_blank"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">Support</div>
              </a>
            </li>
            
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">

            
           <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="position: fixed; left: 34%;">

              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Nouveau/</span> Add new unite </h4>

<!-- Formulaire -->
              <div class="row">

                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">

                      <h5 class="mb-0">New plants</h5>
                      <small class="text-muted float-end"></small>
                    </div>
                    <div class="card-body">
                      <form action="/ajouter_plante" method="post">
                        
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-company">Plant_name</label>
                          <div class="mt-2 mb-3">
                        <select id="largeSelect" class="form-select form-select-lg" name="name">
                          <option value="Sunflower">Sunflower</option>
                          <option value="Majesty palm">Majesty palm</option>
                          <option value="Faux olive tree">Faux olive tree</option>
                          <option value="Faux olive tree">Cyclos Revoluta</option>
                          <option value="Chamae Dorea Elegance">Chamae Dorea Elegance</option>
                          <option value="Ficus Audrey">Ficus Audrey</option>
                          <option value="Cuclanew">Cuclanew</option>

                        </select>
                      </div>
                        </div>
                       
                         <div class="mb-3">
                          <label class="form-label" for="basic-default-email">Size</label>
                          <div class="input-group input-group-merge">
                            <select id="defaultSelect" class="form-select" name="size">
                              <option value="Large">Large</option>
                              <option value="Small">Small</option>
                              <option value="Medium">Medium</option>
                            </select>
      
                          </div>
                        </div>
                         <div class="mb-3">
                          <label class="form-label" for="basic-default-email">Color</label>
                          <div class="input-group input-group-merge">
                            <select id="defaultSelect" class="form-select" name="color">
                              <option value="White">White</option>
                              <option value="Pink">Pink</option>
                              <option value="Red">Red</option>
                              <option value="Yellow">Yellow</option>
                            </select>
                          </div>
                          </div>


                          <div class="mb-3">
                            <label class="form-label" for="basic-default-email">quantity</label>
                            <div class="input-group input-group-merge">
                             <input type="text" class="form-control" id="basic-default-company" name="quantity" />
                              <span class="input-group-text" id="basic-default-email2"></span>
                            </div>
                          </div>

                          
                          <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Price</label>
                          <input type="text" class="form-control" id="basic-default-fullname" placeholder="15.80DH" name="price" />
                        </div>
                        
                       
                        <button type="submit" class="btn btn-primary">Send</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-xl">
                 
              </div>
            </div>

     
     
  

   
  </body>
</html>
